/* src/components/Graficos.css */
.graficos-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .graficos-container h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .chart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 400px; /* Puedes ajustar la altura según sea necesario */
    background-color: #fff; /* Puedes cambiar el color de fondo */
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  